body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: lightsalmon;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: lightsalmon;
  color: black;
  font-weight: bold;
  border-color: lightsalmon;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.template {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.template h1 {
  max-width: 50%;
}

.form {
  flex: 0 1 auto;
}

.form-control {
  border-color: lightsalmon;
}

.story {
  /* display: inline-block;
  width: 60%; */
  flex: 0 1 auto;
  max-width: 65%;
  border: 3px solid #ffa07a;
  border-radius: 20px;
  padding: 10px;
}

@media only screen and (max-width: 900px){
  .story {
    max-width: 90%;
  }
  .template  h1{
    max-width: 90%;
  }
}